<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

  <!-- cfg target class as spring bean -->
   <bean id="store"  class="com.nt.service.ShoppingStore"/>
   
   <!-- cfg advice class -->
   <bean id="expLogger_Grapher"  class="com.nt.advice.CommonExceptionGrapher_Logger"/>
   
   <aop:config>
       <!-- Pointcut expression -->
        <aop:pointcut expression="execution(double  com.nt.service.ShoppingStore.calcBillAmount(..))" id="ptc"/>
        
        <!-- cfg spring bean aspectj AOP Throws advice -->
        <aop:aspect ref="expLogger_Grapher">
            <aop:after-throwing method="exceptionLogger"  pointcut-ref="ptc"  throwing="iae" />
        </aop:aspect>
   
   </aop:config>


</beans>
